*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
     background:radial-gradient(circle, #2345bd, #3988e9);
}

.Login-Card {
    background: linear-gradient(135deg, #2A4FD0, #3d57be);
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    width: 300px;
}

.Cart-pic {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  
}

.Cart-pic img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    mix-blend-mode: normal;
}

.Login-Form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 5px;
    background: linear-gradient(135deg, #2A4FD0, #3d57be);
   
}
.Login-Form button {
      width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid ;
    border-radius: 5px;
    cursor: pointer;
   color: rgb(49, 119, 225);
  
}
input::placeholder {
    color: white;
}
#forgotLink{
    color: white;

}